@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px;
}

header {
    padding-bottom: 20px;
}

#tasks {
    width: 500px;
}

#tasks thead {
    background-color: #F9F9F9;
}

#tasks tbody tr:hover {
    background-color: #FEFEF7;
}

#tasks tbody tr:hover .close {
    color: #222 !important;
}

#create-task-form input[type='text'] {
    padding-right: 14px;
    padding-right: 4px 9;
    padding-left: 14px;
    padding-left: 4px 9;
    margin-bottom: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

button.delete {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #FFF;
    text-shadow: 0 1px 0 #fff;
}

td:hover .delete {
    color: #BBB;
}

#tasks input[type='checkbox'] {
    opacity: 0;
}

#tasks tr:hover input[type='checkbox'] {
    opacity: 1;
}

.completed-task {
    text-decoration: line-through;
}