@main("Tasks") {

<table id="tasks" class="table table-bordered">
    <thead>
    <tr>
        <th>
            <div>
                <form class="form-inline" id="create-task-form">
                    <input name="title" type="text" class="input-xxlarge" placeholder="Must not forget to ... [hit enter]" required autofocus="autofocus">
                    <!--<button type="submit" class="btn">Add</button>-->
                </form>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Loading tasks...</td>
    </tr>
    <script id="task-row-template" type="text/x-handlebars-template">
        <tr>
            <td>
                <label class="checkbox task" id="task{{id}}">
                    <input type="checkbox" class="complete" data-task-id="{{id}}"> {{title}}
                    <button type="button" class="delete" data-task-id="{{id}}">&times;</button>
                </label>
            </td>
        </tr>
    </script>
    </tbody>
</table>
}